{%extends 'base.html'%} {%block content%}
<div class="container change-positionIndex">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        {% for i in getItem%}
        {{ i.name }}
        {%endfor%}
      </h1>
      <p class="lead">
        {% for i in getItem%} Description: {{ i.description }} <br /><br />
        <a href="{{url_for('editCatalog', editname=i.name )}}">
          Edit
        </a>
        |
        <a href="{{url_for('deleteCatalog', deletename=i.name )}}">
          Delete
        </a>
        {%endfor%}
      </p>
    </div>
  </div>
</div>
{%endblock%} a
