{%extends 'base.html'%} {% block content%}

<div class="container change-positionLogin">
  <div class="row">
    <div class="col-sm-8 changePosition">
      <h3>You are about editing {{ editItem.name }}</h3>
      <form
        method="POST"
        action="{{url_for('editCatalog', editname=editItem.name)}}"
      >
        <div class="form-group">
          <label>Title</label><br />
          <input
            type="text"
            name="name"
            value="{{ editItem.name }}"
            placeholder="{{ editItem.name }}"
            style="width:70%"
          />
        </div>
        <div class="form-group">
          <label>Description</label><br />
          <textarea
            type="text"
            name="description"
            placeholder="{{ editItem.description }}"
            rows="3"
            cols="53"
            wrap="soft"
            maxlength="400"
            style="overflow:hidden; resize:none"
            >{{ editItem.description }}</textarea
          >
        </div>
        <div class="form-group">
          <label>Price</label><br />
          <input
            type="text"
            name="price"
            value="{{ editItem.price }}"
            placeholder="{{ editItem.price }}"
            style="width:70%"
          />
        </div>
        <div class="form-group">
          <label>Category</label><br />
          <select>
            <option name="catalog" value="soccer">Soccer</option>
            <option name="catalog" value="baseBall">BaseBall</option>
            <option name="catalog" value="basketball">Basketball</option>
            <option name="catalog" value="frisbee">Frisbee</option>
            <option name="catalog" value="snowboarding">Snowboarding</option>
            <option name="catalog" value="rock Climbing">Rock Climbing</option>
            <option name="catalog" value="foosball">Foosball</option>
            <option name="catalog" value="skating">Skating</option>
            <option name="catalog" value="hockey">Hockey</option>
          </select>
        </div>
        <input type="submit" value="Edit {{ editItem.name }}" />
      </form>
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore a,
      quisquam sint fugiat dignissimos repudiandae ex ab doloribus! Quod
      delectus quibusdam nihil vero, debitis quia rerum dolores unde sint iure.
    </div>
  </div>
</div>
{%endblock%}
