{% extends 'base.html' %} {%block content%}
<div class="container change-positionIndex">
  <form method="POST" action="/login" style="width:40%">
    {{ form.hidden_tag() }}
    {{ form.email.label(class="form-control-label") }}
    {% if form.email.errors %}
    {{ form.email(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.email.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %}
    {{ form.email(class="form-control form-control-lg mb-2") }}
    {%endif%}
    {{ form.password.label(class="form-control-label") }}
    {% if form.password.errors %}
    {{ form.password(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.password.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% else %}
    {{ form.password(class="form-control form-control-lg") }}
    {%endif%}
    {{ form.signin(class="btn btn-outline-info mt-2") }}
  </form>
</div>
{%endblock%}
